<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <% if(!articles || articles.length < 1) {%>
            <h1>No one article write</h1>
        <% } %>

        <% let elementCounter = 0 %>
        <% let rowCounter = 0 %>
        <% while (elementCounter < articles.length) { %>
            <div class="row">
                <% while (rowCounter < 3 && elementCounter < articles.length) { %>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%= articles[15].title %></h5>
                                <p class="card-text">Teste</p>
                            </div>
                        </div>
                    </div>
                    <% elementCounter++ %>
                    <% rowCounter++ %>
                <% } %>
                <% rowCounter = 0 %>
            </div>
        <% } %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>