<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        IgnisCode
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/categories">Categories</a>
        </li>
    </ul>
</nav>